#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
source px4-alias.sh

uorb start
dataman start -f storage
param load
param set MAV_BROADCAST 0
param set SYS_AUTOSTART 1001
param set MAV_TYPE 2
param set MAV_SYS_ID 2

# Set parameters to avoid manual calibration
param set BAT_N_CELLS 3
param set COM_RC_IN_MODE 1

#Calibration
#param set CAL_BOARD_ID 2

param set CAL_BARO_PRIME 0

param set CAL_ACC0_ID 4288784
param set CAL_ACC_PRIME 4288784

param set CAL_GYRO0_ID 4288784
param set CAL_GYRO_PRIME 4288784

param set CAL_MAG0_ID 4288784
param set CAL_MAG_PRIME 4288784

# Start PWM with simulated output
pwm_out_sim start

# Start applications
commander start --hil
sensors start -h

navigator start
ekf2 start
land_detector start multicopter
mc_pos_control start
mc_att_control start

# Start MavLink streams
# Communication with the simulator (remote port = 4000 + 2*MAV_SYS_ID)
mavlink start -o 4004 -u 4005 -t 127.0.0.1 -r 1000000 
mavlink start -o 6000 -u 6001 -t 127.0.0.1 -r 1000000

sleep 1

communicator start -a 127.0.0.1 -p 4004 

# Load Mixer
mixer load /dev/pwm_output0 ROMFS/px4fmu_common/mixers/quad_w.main.mix

# Log and boot
logger start -t
mavlink boot_complete
